.modalLoading {
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0vh;
    z-index: 99;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.4) url("../assets/canguro-pickers.gif") 50% 50% no-repeat;
}

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #541388 ;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: "Fira Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
    font-weight: 500;
    font-family: "Fira Sans", sans-serif;
}

body,
html,
.App,
#root,
.auth-wrapper {
    width: 100%;
    height: 100%;
}

.login-form {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all 0.3s;
}
.Admin-Pickers-input {
    font-family: "Mulish";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.005em;
    color: #101820;
    border: 0;
    outline: none;
    background-color: transparent;
    border: 1px solid #828282;
    width: 100%;
}
.label-Admin-Pickers {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 300;
    transform-origin: 0 0;
    transition: transform 0.2s ease-in-out;
    font-size: 17px;
}
.container-input {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.login-button {
    background-color: #1c8ef9; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    margin-top: 30px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.errors{
    font-family: "Mulish";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 0.005em;
    color:#ff1515;
}
